<%- include('../partials/header') %>
<!--  -->
<% var productImageFromDB = product.productImage; %>
<!--  -->
<% var productNameFromDB = product.productName; %>
<!--  -->
<% var productDescriptionFromDB = product.productDescription; %>
<!--  -->
<% var productMinimumBidFromDB = product.productMinimumBid; %>
<!--  -->
<% var productEndTimeFromDB = dateFormatter(product.productEndTime); %>
<!--  -->
<% var productCategoryFromDB = product.productCategory; %>

<div class="container-fluid">
  <h2 class="list-heading">Product details</h2>
  <!-- Makes POST request to /create-listing/:id route -->
  <form
    action="/create-listing/<%= product._id %>"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped table-dark">
        <tbody>
          <tr>
            <th scope="row">Product Name</th>
            <td>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default"
                  name="productName"
                  value="<%= productNameFromDB %>"
                  required
                />
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Product Description</th>
            <td>
              <div class="input-group">
                <textarea
                  class="form-control"
                  aria-label="With textarea"
                  name="productDescription"
                  required
                >
<%= productDescriptionFromDB %></textarea
                >
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Minimum Bid(in Rs.)</th>
            <td>
              <div class="input-group mb-3">
                <span class="input-group-text">Rs.</span>
                <input
                  type="number"
                  class="form-control"
                  aria-label="Amount (to the nearest dollar)"
                  name="productMinimumBid"
                  min=""
                  max=""
                  value="<%= product.productMinimumBid %>"
                  required
                />
                <span class="input-group-text">.00</span>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Auction End Time(in Min.)</th>
            <td>
              <input
                type="datetime-local"
                name="productEndTime"
                value="<%= productEndTimeFromDB %>"
                min="<%= currentDateTime %>"
                max="2035-06-14T00:00"
                required
              />
            </td>
          </tr>
          <tr>
            <th scope="row">Category</th>
            <td>
              <div class="input-group mb-3">
                <select
                  class="form-select"
                  id="inputGroupSelect01"
                  name="productCategory"
                  value="<%= productCategoryFromDB %>"
                  required
                >
                  <option value="<%= productCategoryFromDB %>" selected hidden
                    ><%= productCategoryFromDB %></option
                  >
                  <option value="Furniture">Furniture</option>
                  <option value="Vintage">Vintage</option>
                  <option value="Retro">Retro</option>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Upload Image</th>
            <td>
              <div class="input-group mb-3" id="change-image-div">
                <img
                  src="data:<%=productImageFromDB.img.contentType%>;base64,
                    <%=productImageFromDB.img.data.toString('base64')%>"
                  width="200"
                  alt="product image"
                />
              </div>
              <button
                type="button"
                id="change-image-button"
                onClick="sellerListingImageHandler()"
                class="btn btn-light"
              >
                Remove Image
              </button>
              <script>
                function sellerListingImageHandler() {
                  document.getElementById("change-image-div").innerHTML =
                    '<input type="file" accept="image/png, image/jpeg" class="form-control" id="inputGroupFile02" name="image" required />';
                  document.getElementById("change-image-button").remove();
                }
              </script>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="submit" class="btn btn-dark btn-lg">Update listing</button>
    <a class="btn btn-dark btn-lg" href="/" role="button">Cancel update</a>
  </form>
</div>

<%- include('../partials/footer') %>
