<%- include('../partials/header') %>

<div class="container-fluid">
  <h2 class="list-heading">Listings</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Category</th>
          <th scope="col">Product Name</th>
          <th scope="col">Minimum Bid</th>
          <th scope="col">Bid Endtime</th>
          <th scope="col">Bid</th>
        </tr>
      </thead>
      <tbody>
        <% for (var j =0; j < userDocumentsWithListings.length ; j++ ) { %> <%
        for (var i =0; i < userDocumentsWithListings[j].listings.length ; i++ )
        { %>
        <tr>
          <th scope="row"><%= (i+1) %></th>
          <td>
            <% if (userDocumentsWithListings[j].listings[i].productImage !=
            null) {%>
            <img
              src="data:<%=userDocumentsWithListings[j].listings[i].productImage.img.contentType%>;base64,
              <%=userDocumentsWithListings[j].listings[i].productImage.img.data.toString('base64')%>"
              width="200"
              alt="product image"
            />
            <% } else { %>
            <img
              src="/images/placeholder-images/placeholder-image-300.png"
              width="200"
              alt="placeholder product image"
            />
            <% } %>
          </td>
          <td>
            <%= userDocumentsWithListings[j].listings[i].productCategory %>
          </td>
          <td><%= userDocumentsWithListings[j].listings[i].productName %></td>
          <td>
            Rs. <%= userDocumentsWithListings[j].listings[i].productMinimumBid
            %>
          </td>
          <td>
            <%= userDocumentsWithListings[j].listings[i].productEndTime %>
          </td>
          <td>
            <a
              class="btn btn-light"
              href="/listings/product/<%= (userDocumentsWithListings[j].listings[i]._id) %>"
              role="button"
              >Add Bid</a
            >
          </td>
        </tr>
        <% } %> <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- include('../partials/footer') %>
