<%- include('../partials/header') %>

<div class="container-fluid">
  <h2 class="list-heading">My Bids</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Category</th>
          <th scope="col">Product Name</th>
          <th scope="col">My Bid</th>
          <th scope="col">Bid Endtime</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i =0; i < biddingDetails.length ; i++ ) { %>
        <tr>
          <th scope="row"><%= (i+1) %></th>
          <td>
            <% if (biddingDetails[i].productImage != null) {%>
            <img
              src="data:<%=biddingDetails[i].productImage.img.contentType%>;base64,
            <%=biddingDetails[i].productImage.img.data.toString('base64')%>"
              width="200"
              alt="product image"
            />
            <% } else { %>
            <img
              src="/images/placeholder-images/placeholder-image-300.png"
              width="200"
              alt="placeholder product image"
            />
            <% } %>
          </td>
          <td><%= biddingDetails[i].productCategory %></td>
          <td><%= biddingDetails[i].productName %></td>
          <td>Rs. <%= biddingDetails[i].productBid %></td>
          <td><%= biddingDetails[i].productEndTime %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- include('../partials/footer') %>
